{% extends "base.html" %}

{% block content %}
<div class="post">
    <form action="{% url 'add_post' %}" method="POST">
        {% csrf_token %}
        <div class="title_div">
            <label><strong>Title: </strong></label><input class="add_title" name="title" type="text" value="{{ input_title }}"/>
        </div>

        <div>
            <div class="add_text"><strong>Text:</strong></div>
            <textarea name="text" rows="4" cols="50">{{ input_text }}</textarea>
        </div>

        <input class="send_button" type="submit" value="Create post"/>
    </form>
    <p class="error"><strong>{{ error }}</strong></p>
</div>
{% endblock %}