{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="post">
    <div class="header">
        <div class="title">
            <strong>{{ post.title }}</strong>
        </div>
        <div class="author">
            {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.date }}
        </div>
    </div>
    <hr>
    <div class="content">
        {{ post.text }}
    </div>
</div>
{% endfor %}
{% endblock %}