<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
    </head>
    <body style="margin-left: auto; margin-right: auto; width: 400px;">
        <div class="container">
            <div>
                <a href="{% url 'blog' %}" style="margin-right: 20px;">Home</a>
                <a href="{% url 'add' %}">Add</a>
            </div>
            <div class="content">
            {% if messages %}
                {% for message in messages %}
                <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>