{% extends "base.html" %}

{% block content %}
<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <div style="margin-bottom: 20px;">
        <label>Author: </label><input style="width: 400px; margin-left: 10px" name="author" type="text"/>
    </div>

    <div>
        <div style="margin-bottom: 10px">Text:</div>
        <textarea name="text" rows="4" cols="50"></textarea>
    </div>

    <input style="width: 75px; height: 50px" type="submit" value="Wyslij"/>
</form>
{% endblock %}